<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Topページ</title>
</head>
<body>
<article>
    <main>
        <h2>Greeting Rest-API</h2>
        <p>このミニアプリは、挨拶習慣を増進するRest-APIです。</p>
        <p>学習用のみにアプリケーションです。</p>
        <div>
            <h3>まずは使ってみる</h3>
            <ul>
                <li>
                    <pre><code>http://localhost:8080/api/tutorial?name=サトシ</code></pre>
                </li>
                <li>
                    <pre><code>curl -X POST --header 'Content-Type: application/json' -d '{"name":"サトシ"}' http://localhost:8080/api/tutorial</code></pre>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h3>詳細</h3>
            <ul>
                <li><a href="#">このアプリの概要</a></li>
                <li><a href="#">Swaggerドキュメント</a></li>
            </ul>
        </div>
    </main>
</article>

</body>
</html>